In [44]:
import yfinance as yf
import pandas as pd

In [45]:
my_tickers = ['SSYS', 'BE', 'SLDP', 'NVAX', 'NBIS', 'VVX', 'ARDX', 'CELH', 'ANET', 'AEHR', 'APP', 'PLTR', 'META', 'CTRE', 'BLDP', 'AAPL', 'AVGO', 'AUDC', 'CRSP', 'MRVL', 'VRT', 'NVDA', 'PL', 'WMT', 'OXY', 'SGML', 'UNH', 'LQDT', 'MDT', 'QQQ', 'SPY', 'ORCL', 'MSFT', 'TSLA', 'COST', 'MRK', 'BLNK', 'NXP', 'BNTX', 'QBTS', 'RGTI', 'ABT', 'SIRI', 'CCJ', 'ASML', 'ADBE', 'PYPL', 'SNOW', 'CHYM', 'RKLB', 'IONQ', 'ASTS', 'NOW', 'AISP', 'MRNA', 'CHGG', 'BBAI', 'QUBT', 'INOD', 'CAVA', 'SMR', 'PHUN', 'DEFT', 'TMC', 'SEZL', 'ABT']

In [46]:
stock = yf.Ticker(my_tickers[0])

In [47]:
my_tickers[0]

'SSYS'

In [48]:
sf = pd.read_csv("/Users/tylerryoo/venv-tyler/stock_data_current_20250822_145734.csv", header = 0)

In [49]:
q_info = stock.quarterly_financials

In [50]:
q_info

,2025-06-30,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
Tax Effect Of Unusual Items,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN
Tax Rate For Calcs,2.100000e-01,2.100000e-01,2.100000e-01,2.100000e-01,2.100000e-01,NaN,NaN
Normalized EBITDA,-1.662000e+07,-1.633000e+06,5.700000e+05,-1.417800e+07,-1.452800e+07,NaN,NaN
Total Unusual Items,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Total Unusual Items Excluding Goodwill,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Net Income From Continuing Operation Net Minority Interest,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Reconciled Depreciation,NaN,1.077100e+07,1.027000e+07,1.128700e+07,1.151500e+07,12266000.0,NaN
Reconciled Cost Of Revenue,7.859200e+07,7.580700e+07,8.067000e+07,7.727800e+07,7.754100e+07,NaN,NaN
EBITDA,-1.662000e+07,-1.633000e+06,5.700000e+05,-1.417800e+07,-1.452800e+07,NaN,NaN
EBIT,-1.662000e+07,-1.240400e+07,-9.700000e+06,-2.546500e+07,-2.604300e+07,NaN,NaN
Net Interest Income,3.286000e+06,1.473000e+06,1.760000e+05,1.009000e+06,-7.260000e+05,NaN,NaN
Interest Income,NaN,1.473000e+06,NaN,1.009000e+06,NaN,1217000.0,NaN
Normalized Income,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Net Income From Continuing And Discontinued Operation,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Total Expenses,1.547060e+08,1.484500e+08,1.600590e+08,1.654730e+08,1.640840e+08,NaN,NaN
Total Operating Income As Reported,-1.662000e+07,-1.240400e+07,-9.700000e+06,-2.546500e+07,-2.604300e+07,NaN,NaN
Diluted Average Shares,8.348500e+07,7.196700e+07,7.140600e+07,7.127100e+07,7.074600e+07,NaN,NaN
Basic Average Shares,8.348500e+07,7.196700e+07,7.140600e+07,7.127100e+07,7.074600e+07,NaN,NaN
Diluted EPS,-2.000000e-01,-1.800000e-01,-5.900000e-01,-3.700000e-01,-3.600000e-01,NaN,NaN
Basic EPS,-2.000000e-01,-1.800000e-01,-5.900000e-01,-3.700000e-01,-3.600000e-01,NaN,NaN
Diluted NI Availto Com Stockholders,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Net Income Common Stockholders,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Net Income,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Net Income Including Noncontrolling Interests,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Net Income Continuous Operations,-1.674500e+07,-1.305400e+07,-4.194300e+07,-2.661400e+07,-2.574300e+07,NaN,NaN
Earnings From Equity Interest Net Of Tax,-2.370000e+06,-1.668000e+06,-3.176600e+07,-1.316000e+06,1.788000e+06,NaN,NaN
Tax Provision,1.041000e+06,4.550000e+05,6.530000e+05,8.420000e+05,7.620000e+05,NaN,NaN
Pretax Income,-1.333400e+07,-1.093100e+07,-9.524000e+06,-2.445600e+07,-2.676900e+07,NaN,NaN
Special Income Charges,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Gain On Sale Of Business,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Net Non Operating Interest Income Expense,3.286000e+06,1.473000e+06,1.760000e+05,1.009000e+06,-7.260000e+05,NaN,NaN
Total Other Finance Cost,-3.286000e+06,NaN,NaN,NaN,7.260000e+05,-1217000.0,-846000.0
Interest Income Non Operating,NaN,1.473000e+06,NaN,1.009000e+06,NaN,1217000.0,NaN
Operating Income,-1.662000e+07,-1.240400e+07,-9.700000e+06,-2.546500e+07,-2.604300e+07,NaN,NaN
Operating Expense,7.611400e+07,7.264300e+07,7.938900e+07,8.819500e+07,8.654300e+07,NaN,NaN
Research And Development,1.992100e+07,1.879200e+07,2.478500e+07,2.470000e+07,2.568000e+07,NaN,NaN
Selling General And Administration,5.619300e+07,5.385100e+07,5.460400e+07,6.349500e+07,6.086300e+07,NaN,NaN
Gross Profit,5.949400e+07,6.023900e+07,6.968900e+07,6.273000e+07,6.050000e+07,NaN,NaN
Cost Of Revenue,7.859200e+07,7.580700e+07,8.067000e+07,7.727800e+07,7.754100e+07,NaN,NaN
Total Revenue,1.380860e+08,1.360460e+08,1.503590e+08,1.400080e+08,1.380410e+08,NaN,NaN
Operating Revenue,1.380860e+08,1.360460e+08,1.503590e+08,1.400080e+08,1.380410e+08,NaN,NaN

In [51]:
sf = pd.read_csv("/Users/tylerryoo/venv-tyler/stock_data_current_20250822_133626.csv", header = 0)

In [52]:
# Load and analyze EVER financial metrics
# sf = pd.read_csv("/Users/tylerryoo/venv-tyler/stock_data_current_20250822_145734.csv", header = 0)
sf_renamed = sf.rename(columns={'Unnamed: 0': 'Metrics'})

print("EverQuote, Inc. (EVER) Financial Analysis")
print("=" * 60)

# Display key metrics
key_metrics = sf_renamed[['Metrics', 'EVER']]
for i, row in key_metrics.iterrows():
    if pd.notna(row['EVER']):
        print(f"{row['Metrics']}: {row['EVER']}")

print("\n" + "=" * 60)
print("FINANCIAL ANALYSIS SUMMARY:")
print("=" * 60)

EverQuote, Inc. (EVER) Financial Analysis
============================================================

KeyError: "['EVER'] not in index"

In [53]:
sf.columns

Index(['Unnamed: 0', 'SSYS', 'BE', 'SLDP', 'NVAX', 'NBIS', 'VVX', 'ARDX', 'CELH', 'ANET', 'AEHR', 'APP', 'PLTR',
       'META', 'CTRE', 'BLDP', 'AAPL', 'AVGO', 'AUDC', 'CRSP', 'MRVL', 'VRT', 'NVDA', 'PL', 'WMT', 'OXY', 'SGML',
       'UNH', 'LQDT', 'MDT', 'ORCL', 'MSFT', 'TSLA', 'COST', 'MRK', 'BLNK', 'NXP', 'BNTX', 'QBTS', 'RGTI', 'ABT',
       'SIRI', 'CCJ', 'ASML', 'ADBE', 'PYPL', 'SNOW', 'CHYM', 'RKLB', 'IONQ', 'ASTS', 'NOW', 'AISP', 'MRNA', 'CHGG',
       'BBAI', 'QUBT', 'INOD', 'CAVA', 'SMR', 'PHUN', 'DEFT', 'TMC', 'SEZL', 'VLDXD', 'GOOGL', 'MU', 'BIIB', 'TNXP',
       'INVZ', 'TLS', 'RDW', 'MP', 'INTC', 'LRCX', 'DLTR', 'WM', 'SPIR', 'GE', 'GEV'],
      dtype='object')

In [54]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)

In [55]:
# Rename the column and select specific columns and row
sf_renamed = sf.rename(columns={'Unnamed: 0': 'Metrics'})
sf_renamed[['Metrics', 'ABT']].loc[sf_renamed['Metrics'] == 'Business Summary']['ABT']

5    Abbott Laboratories, together with its subsidiaries, discovers, develops, manufactures, and sells health care products worldwide. It operates in four segments: Established Pharmaceutical Products, Diagnostic Products, Nutritional Products, and Medical Devices. The company provides generic pharmaceuticals for the treatment of pancreatic exocrine insufficiency, irritable bowel syndrome or biliary spasm, intrahepatic cholestasis or depressive symptoms, gynecological disorder, hormone replacement therapy, dyslipidemia, hypertension, hypothyroidism, hypertriglyceridemia, Ménière's disease and vestibular vertigo, pain, fever, inflammation, and migraine, as well as provides anti-infective clarithromycin, influenza vaccine, and products to regulate physiological rhythm of the colon. It also offers laboratory and transfusion medicine systems in the areas of immunoassay, clinical chemistry, hematology, and transfusion serology testing; molecular diagnostics polymerase chain reaction instrument systems that automate the extraction, purification, and preparation of DNA and RNA from patient samples, and detect and measure infectious agents; point of care systems; cartridges for testing blood gas, chemistry, electrolytes, coagulation, and immunoassay; rapid diagnostics lateral flow testing products; molecular point-of-care testing for HIV, SARS-CoV-2, influenza A and B, RSV, and strep A; cardiometabolic test systems; and drug and alcohol test. In addition, the company provides pediatric and adult nutritional products and infant formula; rhythm management, electrophysiology, heart failure, vascular, and structural heart devices for the treatment of cardiovascular diseases; diabetes care products, such as glucose and blood glucose monitoring systems; and neuromodulation devices for the management of chronic pain and movement disorders. Abbott Laboratories was founded in 1888 and is based in North Chicago, Illinois.
Name: ABT, dtype: object

In [56]:
# Rename the column and display business summary with text wrapping
sf_renamed = sf.rename(columns={'Unnamed: 0': 'Metrics'})

# Set pandas options for better text display
pd.set_option('display.max_colwidth', 80)  # Wrap text at 80 characters
pd.set_option('display.width', 120)

# Get the business summary
business_summary = sf_renamed[sf_renamed['Metrics'] == 'Business Summary']['ABT'].iloc[0]

# Print with text wrapping
import textwrap
print("Business Summary for ABT:")
print("=" * 50)
wrapped_text = textwrap.fill(business_summary, width=80)
print(wrapped_text)

Business Summary for ABT:
==================================================
Abbott Laboratories, together with its subsidiaries, discovers, develops,
manufactures, and sells health care products worldwide. It operates in four
segments: Established Pharmaceutical Products, Diagnostic Products, Nutritional
Products, and Medical Devices. The company provides generic pharmaceuticals for
the treatment of pancreatic exocrine insufficiency, irritable bowel syndrome or
biliary spasm, intrahepatic cholestasis or depressive symptoms, gynecological
disorder, hormone replacement therapy, dyslipidemia, hypertension,
hypothyroidism, hypertriglyceridemia, Ménière's disease and vestibular vertigo,
pain, fever, inflammation, and migraine, as well as provides anti-infective
clarithromycin, influenza vaccine, and products to regulate physiological rhythm
of the colon. It also offers laboratory and transfusion medicine systems in the
areas of immunoassay, clinical chemistry, hematology, and transfusion serology
testing; molecular diagnostics polymerase chain reaction instrument systems that
automate the extraction, purification, and preparation of DNA and RNA from
patient samples, and detect and measure infectious agents; point of care
systems; cartridges for testing blood gas, chemistry, electrolytes, coagulation,
and immunoassay; rapid diagnostics lateral flow testing products; molecular
point-of-care testing for HIV, SARS-CoV-2, influenza A and B, RSV, and strep A;
cardiometabolic test systems; and drug and alcohol test. In addition, the
company provides pediatric and adult nutritional products and infant formula;
rhythm management, electrophysiology, heart failure, vascular, and structural
heart devices for the treatment of cardiovascular diseases; diabetes care
products, such as glucose and blood glucose monitoring systems; and
neuromodulation devices for the management of chronic pain and movement
disorders. Abbott Laboratories was founded in 1888 and is based in North
Chicago, Illinois.

In [60]:
sf_renamed[['Metrics', 'ABT']]

,Metrics,ABT
0,Company Name,Abbott Laboratories
1,Last Updated,2025-08-22 13:35
2,Ticker,ABT
3,Sector,Healthcare
4,Industry,Medical Devices
5,Business Summary,"Abbott Laboratories, together with its subsidiaries, discovers, develops, ma..."
6,Current Price,132.6
7,Current Market Cap,230793691136
8,P/E Ratio TTM,16.638018
9,P/E Ratio LFQ (Calculated),16.510028979706167
10,Forward P/E,25.698643
11,Current P/B Ratio,4.5642447
12,Current Ratio MRQ,1.821
13,Debt to Equity MRQ,26.501
14,ROE TTM,0.30931
15,Revenue Growth YOY,0.074
16,Quarterly Revenue Growth (Calculated),0.07569028770032825
17,P/FCF TTM (Calculated),36.339740377263425
18,P/FCF LFQ (Calculated),34.065489466568266
19,TEV/EBITDA LFQ (Calculated),20.415990661941397
20,Operating Margin MRQ,0.19726999
21,Operating Margin LFQ (Calculated),0.1743255468695632
22,Gross Margin,0.56318
23,Gross Margin LFQ (Calculated),0.56013825419286
24,Profit Margin,0.32426998
25,Profit Margin LFQ (Calculated),0.32427103389083484
26,Free Cash Flow LFQ (Calculated),2025-06-30 00:00:00: $1545M; 2025-03-31 00:00:00: $933M; 2024-12-31 00:00:00...
27,Total Cash MRQ,$7.282B
28,Total Debt MRQ,$13.470B
29,P/S Ratio TTM,5.353724
30,ROA,0.06617
31,EPS TTM,7.97
32,Dividend Yield,1.79
33,Shares Outstanding,1740460032
34,Target Price,142.4848
35,Recommendation,1.82143
36,52W High,141.23
37,52W Low,110.86
38,Beta,0.705
39,Error,NaN